header{
  .logo{
    width:100%;
    margin: 10px;
    float: left;
    background: url('/assets/images/logo.svg');
    background-color: rgba(255, 255, 255, 0.2);
    background-size: 40px;
    background-repeat: no-repeat;
    padding-left: 45px;
    font-size: 20px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      h1{
        font-size: 30px;
        text-decoration: none;
        font-weight: lighter;
        margin: 0 0 0 10px;
        color: #555;
      }
    }
  }
  
  nav{
    float:left;
    a{
      padding:10px;
      margin:10px;
      border:1px dotted gray;
      display:inline-block; 
      text-decoration:none;
      border-radius:5px;
    }
  }
}

main{
  float:left;
  display:block;
  width:100%; 
  border-top:1px solid #ccc;
  h1{
    font-weight: normal;
  }
}
  
@keyframes ContentslideInFromUp {
  0% {
      transform: translateY(-50px);
      opacity: 0.5
  }
  100% {
    opacity:1;
      transform: translateY(0);
  }
}

@keyframes slideInFromUp {
  0% {
      transform: translateY(-30px);
      opacity: 0.5
  }
  100% {
    opacity:1;
      transform: translateY(0);
  }
}