{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "react"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    ["import", { "libraryName": "antd", "style": true }]

  ]
}
