body{
  background: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.fontOpenSansLoaded{
    font-family: "Open Sans";
    color: #575757;
  }
  // initially hide all fontawesome icons
  i.fab{
    visibility: hidden;
  }
  // show fontawesomeicon once the font is floaded
  &.fontAwesomeLoaded{
    i.fab{
      visibility: visible;
    } 
  }
}